<!DOCTYPE html>
<html ng-app="calendar">

  <head>
    <meta charset="utf-8" />
    <title>Calendar App</title>
    <link rel="stylesheet" href="ui-bootstrap-csp.css" />
    <link rel="stylesheet" href="datetimepicker.css" />
    <!--<script src="angular.js"></script>-->
    <script data-semver="1.5.10" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.10/angular.min.js" data-require="angular.js@1.5.x"></script>
    <script src="app.js"></script>
    <script src="datetimepicker.js"></script>
    <script src="ui-bootstrap.js"></script>
    <script src="ui-bootstrap-tpls.js"></script>
  </head>

  <body ng-controller="MainCtrl">
    <div>
      <!-- FORM ============ -->
      <form name="userForm" ng-submit="submitForm()" novalidate>
        <!-- DATETIME-->
        <div>
            <label class="control-label col-sm-3" style="margin-top: 20px;">Appointment Time<b>*</b></label>
            <div class="col-sm-9">
              <datetimepicker ng-model="user.date" minute-step="15" min-date="minDate" show-meridian="true" date-format="yyyy/MM/dd"> </datetimepicker>
            </div>
        </div>
        <!-- SUBJECT -->
        <div>
            <label>Subject</label>
            <input type="text" name="subject" ng-model="user.subject" required>
            <p ng-show="userForm.subject.$invalid">subject is required.</p>
        </div>
        <br>
        <div ng-class="{ 'has-error' : userForm.name.$invalid}">
            <label>Notes</label>
            <textarea name="notes" ng-model="user.notes" required></textarea>
            <p ng-show="userForm.notes.$invalid">Notes is required.</p>
        </div>
        <button type="submit" class="btn btn-sm btn-primary" style="color:red"> submit </button>
      </form>
    </div>
  </body>

</html>


